$whiteBorder: 1px solid rgba($color: #fff, $alpha: .3);
.MessengerInputBox {
    position: relative;
}

.messenger_box_body_inputBox {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    padding: 8px 12px;
    margin:  20px;
    margin-top: 20px;
    border: $whiteBorder;
    border-radius: 30px;



    
    textarea {
        box-sizing: border-box;
        resize: none;
        flex-grow: 1;
        border: 0;
        background-color: transparent;
        color: #fff;
        padding: 0 8px;
        height: 18px;
        max-height: 200px;
        overflow: auto;
        overflow-y: hidden;
        font-size: 16px;
        line-height: 18px;

        &:focus{
            outline: none;
        }
    }

    &_iconBar {
        display: flex;
        align-items: center;
        gap: 8px;
        
    }
}

.yourReplyContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0;
    margin-bottom: -12px;
    border-top: $whiteBorder;
    font-size: 15px;


    button {
        background: #000;
        border: 0;
    }

    .yourReplyPerson {
        div {
            color: #737373;
        }
        p {
            max-width: 375px;
        }
        
    }
}


