$whiteBorder: 1px solid rgba($color: #fff, $alpha: .3);

.messenger_box_body_dialogueContainer {
    flex-grow: 1;
    height: 100%;
    overflow-y: scroll;
    padding: 20px;

    &_context {
        .dialogueBlock:not(:first-child) {
            margin-top: 20px;
        }

        .dialogueBlock_date {
            display: block;
            text-align: center;
            font-size: 14px;
            color: rgb(146, 146, 146)
        }

        .otherDialogue {
            display: flex;
            align-items: flex-end;
            margin-top:8px;

            .dialogue {
                margin-left: 8px;
                width: max-content;
                word-wrap: break-word;
                word-break: break-all;
                border: $whiteBorder;
                border-radius: 22px;
                
                p {
                    box-sizing: border-box;
                    max-width: 236px;
                    width: max-content;
                    padding: 16px;
                    margin: -3px 0 -4px;
                    
                    font-size: 14px;
                }
            }
        }

        .selfDialogue {

            justify-content: space-between;

            .avatarBlock {
                visibility: hidden;
            }

            .textBox {
                display: flex;
                flex-direction: column;
            

                .reply {
                    text-align: right;
                }

                .replyContainer {
                    &_box {
                        background-color: rgba(255, 255, 255, 0);
                        border: $whiteBorder;
                    }

                    &::before {
                        order: 1;
                    }
                }

                .dialogue {
                    align-self: flex-end;
                    background-color: #383838;
                    border: 0;
                }

            }


        }
        
    }

    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba($color: #ececec, $alpha:.3);
    }
}

.textBox {
    max-width: 236px;


    .reply:first-child {
        font-size: 13px;
        color: #a8a8a8;
        margin: 8px;
    }

   .replyContainer {
    font-size: 14px;
    display: flex;
    margin-bottom: 2px;

    .replyContainer_box{
        background-color: #383838;
        padding: 14px 16px;
        border-radius: 22px;
        transform: scale(.85);



    }

    &::before {
        content: '';
        flex-shrink: 0;
        width: 4px;
        background-color: #383838;
        border-radius: 2px;

    }
   }
}