$whiteBorder: 1px solid rgba($color: #fff, $alpha: .3);
.LoginWrapper {
    min-height: calc(100vh - 24px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Login {
    width: 350px;
    border: $whiteBorder;
    padding: 10px 0;

    &_logo {
        margin: 36px auto;
        text-align: center;
    }

    &_inputText {
        
        
    }

    div {
        span {
            display: block;
            text-align: center;
        }
    }

    &_forgetPassword {
        font-size: 13px;
        display: block;
        width: max-content;
        margin: 12px auto 0;
        text-align: center;
        color: #385185;
        text-decoration: none;
    }

    &_or {
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;

        &::before {
            content: "";
            width: 109px;
            height: 1px;
            background-color: rgba($color: #fff, $alpha: .3);
            display: block;
        }

        &::after {
            content: "";
            width: 109px;
            height: 1px;
            display: block;
            background-color: rgba($color: #fff, $alpha: .3);

        }
    }
}


.signUp {
    width: 350px;
    margin: 10px auto;
    padding: 10px 0;
    border: $whiteBorder;
}

input {
    border-radius: 3px;
    display: block;
    margin: 0 auto 8px;
    width: 254px;
    height: 14px;
    border: 0;
    padding: 10px 8px 8px;
}

button {
    display: block;
    width: 270px;
    height: 32px;
    margin:  16px auto;
    border-radius: 8px;
    font-weight: 600;
}

p {
    margin: 15px;
    text-align: center;

    a{
        color: #0095f6;
    }
}

